fxFlex {
    border: solid 1px red;
}


.cal-display input {
    // border: solid 1px red;
    font-size: large;
    padding: 5px;

}

.cal-keys button {
    // border: solid 1px red;
    // margin: 15px;
    font-size: large;
    margin-right :10px;
}