<div fxLayout="row" fxLayoutAlign="center">
    <h1>My calculator</h1>
</div>


<div fxLayout="row" fxLayoutAlign="center">
        <div class="cal-display">
            <input type="text" [value]="currentNumber" disabled style="margin-bottom:10px" />
        </div>
</div>

<div class="cal-keys">
   
<div fxLayout="row" fxLayoutAlign="center center">
    <div class="item" fxFlex="210px"><button mat-flat-button color="primary" type="button" (click)="clear()"
            class="all-clear" value="all-clear">Clear</button></div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button mat-flat-button type="button" (click)="getOperation('/')" class="operator" value="/">&divide;</button>
    </div>

</div>


<div fxLayout="row" fxLayoutAlign="center center">
    <div class="item" fxFlex="70px">
        <button mat-flat-button color="primary" type="button" (click)="getNumber('7')" value="7">7</button>
    </div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button color="primary" type="button" (click)="getNumber('8')" value="7">8</button>
    </div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button color="primary" type="button" (click)="getNumber('9')" value="7">9</button>
    </div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button type="button" (click)="getOperation('*')" class="operator" value="*">&times;</button>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <div class="item" fxFlex="70px">
        <button mat-flat-button color="primary" type="button" (click)="getNumber('4')" value="7">4</button>
    </div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button color="primary" type="button" (click)="getNumber('5')" value="7">5</button>
    </div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button color="primary" type="button" (click)="getNumber('6')" value="7">6</button>
    </div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button type="button" (click)="getOperation('-')" class="operator" value="-">-</button>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <div class="item" fxFlex="70px">
        <button mat-flat-button color="primary" type="button" (click)="getNumber('1')" value="1">1</button>
    </div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button color="primary" type="button" (click)="getNumber('2')" value="7">2</button>
    </div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button color="primary" type="button" (click)="getNumber('3')" value="7">3</button>
    </div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button type="button" (click)="getOperation('+')" class="operator" value="+">+</button>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <div class="item" fxFlex="140px"><button mat-flat-button color="primary" type="button" (click)="getNumber('0')"
            value="7">0</button></div>
    <div class="item" fxFlex="70px"><button mat-flat-button color="primary" type="button" (click)="getDecimal()"
            class="decimal" value=".">.</button></div>
    <div class="item" fxFlex="70px">
        <button mat-flat-button type="button" (click)="getOperation('=')" class="equal-sign" value="=">=</button>
    </div>

</div>

</div>