.item {
    // border: solid 1px red;
    height: 80px;
    margin-top: 10px;
    text-align: center;
    // border: solid 1px red;
    background-color: lightblue;
}

.item-1{
    background-color: lightblue;
}

.item-2{
    background-color: lightblue;
}
.item-3{
    background-color: lightblue;
}
.item-4{
    background-color: lightblue;
}
.item-5{
    background-color: lightblue;
}
.item-6{
    background-color: lightblue;
}

// -----------------------------------
// Grid styles
// ------------------------------------

mat-grid-tile {
    background: lightblue;
 }