<div class="container" fxLayout xLayout.xs="column" fxLayoutAlign="" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
        <h1>Home</h1>

    </div>
</div>

<div class="container" fxLayout xLayout.xs="column" fxLayoutAlign="" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
                <mat-card color="primary">
                        <h2>Welcome to my Angular demo website</h2>
                        <p>This app tests what I can do in Angular so far</p>
                    </mat-card>
        </div>
    </div>
    
    


    <div class="container" fxLayout xLayout.xs="column" fxLayoutAlign="" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div class="" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
         
               <div class="container" fxLayout xLayout.xs="column" fxLayoutAlign="" fxLayoutGap="10px" fxLayoutGap.xs="0">
                
                  <mat-card fxFlex="50%">
                    <mat-card-title>Angular Features</mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-list>
                            <mat-list-item> 
                                    <mat-checkbox class="checked" disabled [checked]= true>Material Design Theme</mat-checkbox>
                            </mat-list-item>
                            <mat-list-item> 
                                    <mat-checkbox class="checked" disabled [checked]= true>Router</mat-checkbox>
                            </mat-list-item>
                            <mat-list-item> 
                                    <mat-checkbox class="checked" disabled [checked]= true>Mobile Sidebar</mat-checkbox>
                            </mat-list-item>
                            <mat-list-item> 
                                    <mat-checkbox class="checked" disabled [checked]= true>Observables</mat-checkbox>
                            </mat-list-item>
                           </mat-list>
                  </mat-card>

                  <mat-card fxFlex="50%">
                        <mat-card-title>Other Features</mat-card-title>
                        
                        <mat-divider></mat-divider>
                        <mat-list>
                                <mat-list-item> 
                                        <mat-checkbox class="checked" disabled [checked]= true>A calculator</mat-checkbox>
                                </mat-list-item>
                                <mat-list-item> 
                                    <mat-checkbox class="checked" disabled [checked]= true>Layouts</mat-checkbox>
                                    </mat-list-item>
                        </mat-list>
                    </mat-card>

               </div>
            </div>
         </div>
